.success-icon {
  padding-left: 845px;
  padding-top: 70px;

  font-size: 220px;
}

.success-title {
  text-align: center;
  color: SlateGray;
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.back-to-ctlg-btn {
  margin-left: 860px;
  margin-top: 60px;
  border-radius: 12px;
  height: 50px;
  width: 170px;
}
