.card_button {
  background-color: BurlyWood;
  border: 1px solid BurlyWood;
  border-radius: 10px;
}

.card_button:hover {
  background-color: chocolate;
  border-color: chocolate;
}

.item_card {    
  width: 25rem;
  border-radius: 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.card_img {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 250px;
  width: 24.9rem;
}
