.card_button {
  font-size: 1.05rem;
  border-radius: 12px;
  
}

.item_card {    
  width: 25rem;
  border-radius: 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.card_img {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: 250px;
  width: 24.9rem;
}
